.variant {
    position: relative;
    min-height: 600px;
    background-color: #f0efee;

    &::before {
        position: absolute;
        content: "";
        top: -41px;
        left: -125px;
        width: 785px;
        height: 640px;
        background-image: url("../img/Layer 2.png");
       
    }
}

.variant__wrapper {
    padding: 135px 0 0 568px;
}

.variant__intro {
    margin: 0;
    font-size: 30px;
    color: #623232;
}

.variant__name {
    margin: 0;
    font-size: 70px;
    font-weight: bold;
    color: #623232;
}

.variant__slogan {
    margin: 0 0 20px;
    font-size: 50px;
    font-weight: bold;
    color: #ff7373;
}

.variant__desc{
    margin: 0 0 40px;
    width: 350px;
    font-size: 16px;
    font-weight: 400;
    color: #623232;
}

.variant__link {
    padding: 15px 55px;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    background-color: #ff7373;
}